@import 'base/variables'
@import 'blocks/start-page'
@import 'blocks/content-block'
@import 'blocks/decoration-classes'

body 
	position: relative
	background-color: $main-color 
	display: flex
	justify-content: center
	margin-top: 150px
